.details{
    position: relative;
    top:0px;
    left:-5px;
    &__save{
        cursor: pointer;
        position: absolute;
        right: 0px;
        top:0px;
        background-color: limegreen;
        padding:8px 16px;
        border-radius: 5px;
        transition: all 500ms ease-in-out;
        border:0px;
        color:white;
        &:hover{
           opacity:0.8
        }
        &:focus{
            outline:none;
            border:0px;
        }
        svg{
            margin-right:5px
        }
    }
    &__form{
      width: 100%;
      h2{
          color:red;
          text-align: center;
      }
    }
    &__field{
        position:relative;
        top:0px;
        left:0px;
        &:after{
            content:'';
            position:absolute;
            left:51%;
            bottom:0px;
            width: 0%;
            border-bottom: 1px solid limegreen;
            transform: translateX(-50%);
            transition: all 500ms ease-in-out;
        }
        &.focus{
            &:after{
                width: 102%;
            }
      
        }
        input,textarea{
            display:block;
            padding:10px 5px;
            width: 100%;
            transition: all 100ms ease-in-out;
            cursor: pointer;
            background-color: rgba(211, 211, 211, 0.056);
            margin: 5px 0px;
            border:0px;
            color:white;
            &:focus{
                outline:none;
                border:0px;
            }
        }
        textarea{
            min-height: 130px;
        }
    }
    &__nav{
        margin-top:20px;
        @include createFlex(row,space-around,center,null);
        svg{
            margin-right:5px;
        }
        [class^="details__btn"]{
            cursor: pointer;
        }
        
    }
    &__backwards{
       svg{
          color:orange; 
       } 
    }
    &__uncompleted{
        svg{
            color:red;
        }
    }
    &__completed{
        svg{
            color:limegreen;
        }
    }
    &__delete{
        svg{
           color:red; 
        } 
     }
}